.parent_container {
  position: relative;
}
.popup_container {
  position: absolute;
}
.form_container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  height: fit-content !important;
}
table {
  border-collapse: collapse;
  width: 615px !important;
}
th {
  background: #ccc;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}
td {
  width: 745px !important;
}
tr:nth-child(even) {
  background: #efefef;
}
